<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xinyiglass.mapper.IndexMapper">
		
		<resultMap type="com.xinyiglass.beans.Menu" id="menuMap" autoMapping="false">
			<id column="menu_id" property="menuId"/>
			<result column="menu_name" property="menuName"/>
			<result column="menu_pre" property="menuPre"/>
		</resultMap>
		
			<select id="getMenu" resultType="com.xinyiglass.beans.Menu">								
					SELECT * FROM XYG_MENU WHERE MENU_PRE=
					<choose>
						<when test="menuid!=null">#{menuid}</when>
						<otherwise>1</otherwise>
					</choose>	
			</select>					
		
</mapper>