<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xinyiglass.mapper.LoginMapper">

	<resultMap type="com.xinyiglass.beans.User" id="userMap" autoMapping="false">
			<id column="user_id" property="userId"/>
			<result column="user_name" property="userName"/>
			<result column="username" property="name"/>
			<result column="age" property="age"/>
			<result column="user_pwd" property="password"/>
	</resultMap>
	
	<select id="doLogin" resultMap="userMap">		             
		select * from xyg_user where user_name=#{username} and user_pwd=#{password}
	</select>
</mapper>
